body {
    margin: 0;
    background-image: url(templates/bg_image.jpg);
}
h2{
    font-family: 'Playpen Sans', cursive;
    color:brown;
    opacity: 1;
    font-size: large;
}
.title {
    color: aliceblue;
    font-size: 30px;
    font-family: "Audiowide", sans-serif;
    text-decoration: none; /* Remove underline */
    background-color: black; /* Set background color */
    float:left;
    position: static;
}

.topnav {
    background-color: black;
    color: aliceblue;
    text-align: end;
    position: static;
    height: 50px;
    opacity: 0.8;
}

a.navset {
    color: beige;
    text-decoration: none;
    padding: 15px;
    font-size: 10px;
    border-radius: 10px;
    background-color:darkslategray;
    border-color: brown;
    position:static;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.LIVE{
    background-color: aliceblue;
    margin: 10px;
    height: 15pc;
    opacity: 0.5;
    border-radius: 20px;
}